/* Global variables. */
/* :root {} */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

/* * {
    box-sizing: border-box;
} */
body {
    margin: auto;
    max-width: 70ch;
    background-color: #111;
    color: #FFF;
    font-family: 'Akshar', sans-serif;
    padding: 2em;
    font-size: 18px;
    background-image: url(../img/layered-waves-haikei.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2, h3 {
    font-weight: normal;
}
h1 {
    border-bottom: 1px solid #FFF;
    padding-bottom: 0.5em;
}
a {
    color: deepskyblue;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
}
#gallery a {
    text-decoration: none;
    width: calc(50% - 1em);
}
#gallery a img {
    width: 100%;
}