<script type="text/javascript" src="{{ '/styleguide/js/prism/prism.min.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/styleguide/js/style-guide.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/styleguide/js/my-toggles.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/styleguide/js/my-scroll-to.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/styleguide/js/playground.js' | relative_url }}"></script>
{% for script in page.scripts %}
    {% if script contains 'https://' or script contains 'http://' %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% else %}
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/styleguide/js/{{ script }}"></script>
    {% endif %}
{% endfor %}
<script type="text/javascript">
    // Sidebar
    let sidebar = function() {
        jQuery('#sidebar').toggleClass('m-anchor-top-right--sm m-anchor-top-right--md');
        jQuery('#sidebar-overlay').toggleClass('m-anchor-top-right');
    }
    // Sidebar
    let tocbar = function() {
        jQuery('#toc-container').toggleClass('m-anchor-top-left m-anchor-top-right');
        jQuery('#toc-overlay').toggleClass('m-anchor-top-left m-anchor-top-right m-top-left m-top-right');
    }
    jQuery(document).ready(function() {
        myToggle.update();
        //Manage external links
        jQuery('main a[href*="http"]').each(function(){
            // Only if link is not in .playground
            if (jQuery(this).closest('.playground').length == 0) {
                var link = jQuery(this).attr('href');
                //Check if it is an internal link (check if hostname is contained into the link string)
                if(link.indexOf(window.location.origin) != 0){
                    jQuery(this)
                        .after(' <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg> ')
                        .attr('target','_blank');
                }
            }
        });
    });
</script>

