<link rel="stylesheet" href="{{ '/styleguide/css/normalize.css' | relative_url }}">
<!-- partial.css must be at the root of stylesguide folder for local font path support -->
<link rel="stylesheet" href="{{ '/styleguide/css/devices.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/bridge.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/styleguide/fonts/icomoon/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/styleguide/css/styleguide.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/styleguide/css/prism.css' | relative_url }}">
