<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}{% endif %} ">
    
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ '/styleguide/css/normalize.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styleguide/fonts/icomoon/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styleguide/css/styleguide.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/styleguide/css/prism.css' | relative_url }}">

    {% for stylesheet in page.stylesheets %}
        {% if stylesheet contains 'https://' or stylesheet contains 'http://' %}
        <link rel="stylesheet" href="{{ stylesheet }}">
        {% else %}
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/styleguide/css/{{ stylesheet }}">
        {% endif %}
    {% endfor %}
    <script type="text/javascript" src="{{ '/styleguide/js/jquery-3.5.1.slim.min.js' | relative_url }}"></script>
    <script>
        window.site = {
            url: '{{ site.url }}',
            baseurl: '{{ site.baseurl }}'
        }
    </script>
</head>
