<script type="text/javascript">
    // Auto scroll to hash anchor
    jQuery(window).on('load', function() {
        if (document.location.hash != "") {
            var id = document.location.hash;
            console.log(jQuery(id).length);
            if (jQuery(id).length == 1) {
                var amountOfScroll = jQuery(id).offset().top;
                console.log(amountOfScroll);
                jQuery(window).scrollTop(amountOfScroll);
            }
        }
    });
    jQuery(document).ready(function() {
        jQ_titles = jQuery('h1:not(.notoc),h2:not(.notoc),h3:not(.notoc),h4:not(.notoc),h5:not(.notoc),h6:not(.notoc)');
        var jQ_toc = jQuery('#toc-container');
        // console.log(jQ_titles.length);
        if(jQ_titles.length > 0){
            // TOC generation
            jQ_toc.html(
                '<div class="c-position m-absolute m-top-left m-anchor-top-left u-bc-primary-edge u-w-100vw u-h-100vh u-translucid u-z-10" u-none="md,xl" id="toc-overlay" onclick="tocbar();"></div>'+
                '<button class="c-btn u-z-10 c-position m-fixed m-top-left m-anchor-top-right" u-none="md,xl" onclick="tocbar()">'+
                    '<span class="i-list"></span>'+
                '</button>'+
                '<nav id="toc" class="u-sticky u-top-0 u-mh-100vh u-o-auto u-z-10">'+
                    '<ul class="u-p-none u-m-none u-ls-none"></ul>'+
                '</nav>'
            );
            jQ_toc = jQuery('nav#toc').children('ul');
            jQ_titles.each(function(index){
                if (jQuery(this).parent().css('display') != 'none' && jQuery(this).closest('.playground').length == 0) {
                    var text = jQuery(this).text(),
                        classNamesFirst = 'c-btn m-translucid m-block-left u-pl-sm u-bt-thin-dashed-alt',
                        classNamesOthers = 'c-btn m-translucid m-block-left m-font-variant m-xs u-bt-thin-dashed-alt',
                        classNames = classNamesOthers;
                    if (index === 0) {
                        classNames = classNamesFirst;
                    }
                    var id = text.replace(/\W/g,'_');
                    jQuery(this).attr('id', id);
                    jQ_toc.append(
                        '<li>'+
                            '<a href="#'+id+'" class="'+classNames+'">'+text+'</a>'+
                        '</li>'
                    );
                }

            });
        }
    });
</script>
