---
layout: styleguide/default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <time class="sg-fs-xs sg-c-neutral" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
        </time>
        <h1 class="post-title sg-mt-none" itemprop="name headline">{{ page.title | escape }}</h1>
        {% for category in page.categories %}
            {{ category }}
        {% endfor %}
        <nav>
            {% include styleguide/tags.html %}
        </nav>
        <p>
            {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <a href="{{ page.url | relative_url }}" hidden></a>
</article>

{% include styleguide/toc-js.html %}
