/*
    CAROUSELS
*/

.my-carousel {
    .owl-nav {
        &>.owl-next,
        &>.owl-prev {
            // display: none;
            position: absolute;
            top: 50%;
            z-index: 1000;
            transform: translateY(-50%);
            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }
        }
        &>.owl-next {
            left: calc(100% + #{my-spacing(sm)});
        }
        &>.owl-prev {
            right: calc(100% + #{my-spacing(sm)});
        }
    }
    [mod-hilight-1] {
        transition: all 300ms;
        height: 170px;
    }
    [mod-hilight-2] {
        display: none;
    }
    [mod-hilight-3] {
        margin-top: my-spacing(md);
    }
    @each $screen-size, $v in $briks-screen-sizes {
        @include my-screen-size($screen-size) {
            &[mod-nav*="#{$screen-size}"],
            &[mod-nav="true"] {
                max-width: calc(100% - 170px);
                margin: auto;
                .owl-nav {
                    &>.owl-next,
                    &>.owl-prev {
                        display: inherit;
                    }
                }
            }
            .owl-item {
                &.hilight {
                    [mod-hilight-1*="#{$screen-size}"] {
                        height: 200px;
                    }
                    [mod-hilight-2*="#{$screen-size}"] {
                        display: inherit;
                    }
                    [mod-hilight-3*="#{$screen-size}"] {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    .owl-carousel {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        .owl-dots {
            text-align: center;
            position: absolute;
            width: 100%;
            .owl-dot {
                display: inline-block;
                pointer-events: none;
                margin: 0px my-spacing(xxs);
                width: 6px;
                height: 6px;
                background-color: my-color(neutral-light);
                border-radius: my-border-radius(md);
                transition: all 300ms;
                &.active {
                    width: 10px;
                    height: 10px;
                    background-color: my-color(primary);
                }
            }
        }
    }
    &[mod-dots-click="true"] {
        .owl-carousel {
            .owl-dots {
                .owl-dot {
                    pointer-events: auto;
                }
            }
        }
    }
    &[mod-dots-size="large"] {
        .owl-carousel {
            .owl-dots {
                .owl-dot {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}