

/*
    HTML5
    ---
    Default HTML5 CSS declarations
*/
* {
    box-sizing: border-box;
    transition: all 300ms;
    // &:focus {
    //     outline-offset: 5px;
    //     outline-color: my-color(translucid-dark-max);
    //     outline-style: dotted;
    //     outline-width: 1px;
    // }
}
a {
    font-family: my-font-family(lead-bold-1);
    color: my-color(primary);
    &:active {
        color: my-color(primary-alt);
    }
}
body {
    color: my-color(secondary);
    font-family: my-font-family(lead);
    font-size: my-font-size(sm);
    background-color: my-color(neutral-light-max);
    line-height: 1.6em;
}
h1 {
    font-size: my-font-size(xxl);
    font-family: my-font-family(lead-bold-2);
    line-height: initial;
    font-weight: normal;
}
h2 {
    font-size: my-font-size(xl);
    font-family: my-font-family(lead-bold-1);
    line-height: initial;
    font-weight: normal;
}
h3 {
    font-size: my-font-size(lg);
    font-family: my-font-family(lead-bold-1);
    line-height: initial;
    font-weight: normal;
}
h4,
h5,
h6 {
    font-family: my-font-family(lead-bold-2);
    line-height: initial;
    font-weight: normal;
}
strong {
    font-family: my-font-family(lead-bold-1);
    font-weight: normal;
}

// table {
//     border-collapse: collapse;
//     th {
//         font-family: my-font-family(lead-bold-2);
//         padding: my-spacing(sm);
//     }
//     td {
//         border: my-border(thin-neutral-light);
//         padding: my-spacing(sm);
//     }
// }