

/*
    HTML5
    ---
    Default HTML5 CSS declarations
*/
* {
    box-sizing: border-box;
    transition: all 300ms;
    &:focus {
        outline: none;
        // border: my-border(thin-dashed-alt);
    }
}
a {
    color: my-color(primary);
    font-family: my-font-family(headline);
    background: my-background(stripes);
    font-weight: bold;
    text-decoration: none;
    &:hover {
        color: my-color(primary-alt);
    }
}
body {
    font-family: my-font-family(lead);
    font-size: my-font-size(md);
    color: my-color(primary);
    background-color: my-color(primary-max);
    line-height: 1.6em;
}
h1 {
    font-size: my-font-size(xxl);
    font-family: my-font-family(headline);
    // font-weight: normal;
    line-height: initial;
}
h2 {
    font-size: my-font-size(xl);
    font-family: my-font-family(headline);
    // font-weight: normal;
    line-height: initial;
}
h3 {
    font-size: my-font-size(lg);
    font-family: my-font-family(headline);
    // font-weight: normal;
    line-height: initial;
}
h4,
h5,
h6 {
    // font-family: my-font-family(lead-bold-1);
    line-height: initial;
}
pre {
    font-size: my-font-size(sm);
}
code {
    background-color: my-color(primary-edge);
    padding-left: my-spacing(xxs);
    padding-right: my-spacing(xxs);
    letter-spacing: -0.015em;
}
table {
    border-collapse: collapse;
    width: 100%;
    thead {
        th {
            text-align: left;
            padding: my-spacing(xs);
            border-bottom: my-border(large-solid-edge);
            font-size: my-font-size(sm);
        }
    }
    tbody {
        td {
            padding: my-spacing(xs);
            border-bottom: my-border(thin-solid-edge);
            font-size: my-font-size(sm);
        }
    }
}

@include my-screen-size(sm) {
    body {
        font-size: my-font-size(sm);
    }
    h1 {
        font-size: my-font-size(xl);
    }
    h2 {
        font-size: my-font-size(lg);
    }
    h3 {
        font-size: my-font-size(md);
    }
    pre {
        font-size: my-font-size(xs);
    }
}