<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}{% endif %} ">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ 'img/favicons/apple-icon-57x57.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ 'img/favicons/apple-icon-60x60.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicons/apple-icon-72x72.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ 'img/favicons/apple-icon-76x76.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicons/apple-icon-114x114.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ 'img/favicons/apple-icon-120x120.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/favicons/apple-icon-144x144.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ 'img/favicons/apple-icon-152x152.png' | absolute_url }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'img/favicons/apple-icon-180x180.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'img/favicons/android-icon-192x192.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'img/favicons/favicon-32x32.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ 'img/favicons/favicon-96x96.png' | absolute_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'img/favicons/favicon-16x16.png' | absolute_url }}">
        <meta name="msapplication-TileColor" content="#0c9cd5">
        <meta name="msapplication-TileImage" content="{{ 'img/favicons/ms-icon-144x144.png' | absolute_url }}">
        <meta name="theme-color" content="#ffffff">
{% for fontpath in page.fonts %}
    {% if fontpath contains 'https://' or fontpath contains 'http://' %}
        <link rel="stylesheet" href="{{ fontpath }}">
    {% else %}
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/fonts/{{ fontpath }}">
    {% endif %}
{% endfor %}
{% for stylesheet in page.stylesheets %}
    {% if stylesheet contains 'https://' or stylesheet contains 'http://' %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% else %}
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/{{ stylesheet }}">
    {% endif %}
{% endfor %}
    </head>
    <body class="u-minh-100vh">
        {{ content }}

        {% for script in page.scripts %}
            {% if script contains 'https://' or script contains 'http://' %}
                <script type="text/javascript" src="{{ script }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/{{ script }}"></script>
            {% endif %}
        {% endfor %}
    </body>
</html>
